.fade-image {
  opacity: 0.5;
}

.video-area-bg {
  background-image: url(images/Chihuacroc.webp);
  background-size: cover;
  background-position: center;
  min-height: 800px;
}

.video-area-height {
  min-height: 800px;
}

.first-bg {
  background-color: #e1ded6;
}

body {
  margin: 5px;
}

.display-flex {
  display: flex;
}

.footer-bg {
  background-color: #364049;
}

.row-padding-top {
  padding-top: 5rem;
}